<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 设置别名 -->
   <typeAliases>
   	<package name="cn.lav.ssm.pojo"/>
   </typeAliases>
   
   <!-- 注册ORM映射文件 -->
   <mappers>
   	<mapper resource="cn/lav/ssm/mapper/UserMapper.xml"/>
   	<mapper resource="cn/lav/ssm/mapper/DeptMapper.xml"/>
   </mappers>

</configuration>
